body {
    margin: 0;
    padding: 0;
  }

h1{
    font-family: 'Coco Gothic', sans-serif;
    font-weight: lighter; 
    font-size: 400%; 
    text-align: center;
    color: white;
}

h2{
    font-family: 'Coco Gothic', sans-serif;
    font-weight:normal; 
    font-size: 300%; 
    text-align: left;
    color: white;  
    margin-left: 3%;
}

h3{
    font-family: 'Coco Gothic', sans-serif;
    font-weight:normal; 
    font-size: 200%; 
    text-align: justify;
    color: white;
    margin-left: 3%;
    line-height: 120%;
}

p{
    font-family: 'Coco Gothic', sans-serif;
    font-weight: lighter; 
    font-size: 180%; 
    text-align: justify;
    color: white;  
    margin-left: 3%; 
    line-height: 120%;
}

.azul{
    color:#249EBC;
}

a {
    text-decoration: none;
    font-weight:lighter; 
    font-family: 'Coco Gothic', sans-serif;
    font-size: 80%; 
    text-align: center;
    color: white;
    margin: 2%;
  }

.navbar{
    text-align: center;
}

.image_index{

    width: 100%;
    margin-top: 3%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
    z-index: -2;
}

.team_index{
    width: 100%;
    margin-top: 45%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-right: 0%;
    padding: 0%;
    z-index: -1; 
}

.nav-link:hover {
    color: #249EBC;
}




.about_us{
    margin-top: 4%;
    margin-bottom: 20%;
    width: 70%;
    height: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
   
}



.content{
    width: 80%;
    margin: 0 auto;
    z-index: 2;
    position: static;
    padding-top: 5%;
   
}

.content_re1{

    width: 70%;
    margin: 0 auto;
    padding-top: 5%;
    position: absolute; 
    top: 0; 
    left: 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin-top: 15%;
    margin-left: 4%;
    float:left;
   
}


.content_re2{

    width: 90%;
    margin: 0 auto;
    padding-top: 5%;
    position: absolute; 
    top: 0; 
    left: 0; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    margin-top: 150%;
    margin-left: 4%;
    float:left;
   
}

.video-container{
    position: relative;
    z-index: 1;
   
}

.video-container2{
    position: relative;
    z-index: -1;
   
}
video {
    margin-top: 0%;
    position: absolute;
    width: 100%;
    z-index: -1;
    
  }

.vision{
    margin-top: 10%;
    line-height: 120%;
}



footer {
    
    color: #fff;
    text-align: justify;
  }



.footer-nav{
    padding-left: 5%;

}
.footer-logo.redes{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.footer-logo img.logo {
    width: 10%;
    height: auto;
    padding-left: 5%;
  }
  
.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
.footer-nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
.footer-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
.footer-nav a:hover {
    text-decoration: underline;
  }  
  


.footer_1 {
    margin-top: 0%;
    bottom: 0;
    background-color: black;
}          

.footer_2 {
    margin-top: 160%;
    bottom: 0;
    background-color: black;
}  
.sponsors_footer_img{
    width: 20%;
    float: right;
    margin-right: 5%;
} 
.blue-bar {
    background-color: #177086;
    height: 5%;
    width: 100%;
    margin-top: 0%;
    
}

.future{
    font-family: 'Coco Gothic', sans-serif;
    font-weight:bold; 
    font-size: 180%; 
    text-align: center;
    color: white;

    line-height: 150%;
    margin-top: 0%; 

}
.redes{
  
    margin-left: 20%; 

    
}
.copy{

    font-family: 'Coco Gothic', sans-serif;
    font-weight:lighter; 
    font-size: 100%; 
    text-align: center;
    color: white;
    padding: 1%;
    margin: 1%;

}



.container_galeria {
    max-width: 100%;
    margin: 0% auto;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
  }
  
  .text-center {
    text-align: center;
    margin-bottom: 1em;
  }
  
  .lightbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .lightbox-gallery div > img {
    
    height: 250px ;
    display: block;
  }
  
  .lightbox-gallery div {
    margin: 10px;
    flex-basis: 180px;
  }
  
  @media only screen and (max-width: 480px) {
    .lightbox-gallery {
      flex-direction: column;
      align-items: center;
    }
  
    .lightbox > div {
      margin-bottom: 10px;
    }
  }

  .lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding-top: 30px;
    box-sizing: border-box;
  }
  
  .lightbox img {
    display: block;
    margin: auto;
  }
  
  .lightbox .caption {
    margin: 15px auto;
    width: 50%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    color: #202020;
  }
  
 
.img_team_index{
  margin-top: 100%;
}

.video_ss{
  margin-top: 60%;
 
}

video.ss{
  width: 75%;
  margin-left: 15%;
  
}


@media only screen and (max-width: 450px){
  body h1{
    font-size: 32px;
  }
  .navbar b{
    font-size: 12px;
  }
}
